<!-- <table>
  <thead>
    <tr>
      <th>Item name</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @women_stores.each do |women_store| %>
      <tr>
        <td><%# women_store.item_name %></td>
        <td><%# women_store.image %></td>
        <td><%# link_to 'Show', women_store %></td>
        <td><%# link_to 'Edit', edit_women_store_path(women_store) %></td>
        <td><%# link_to 'Destroy', women_store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->

<%# link_to 'New Women store', new_women_store_path %>

    <!-- Watch Section -->
    <section id="watch" class="container content-section text-center">
        <div class="watch-section">
            <div class="container">
                <div class="row">
                  <div class="col-lg-4 col-sm-6 col-md-6">
                    <%= image_tag("green.png", :alt => "rss feed") %><br><%= 'constellation 2je'.upcase %>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-md-6">
                    <%= image_tag("pink.png", :alt => "rss feed") %><br><%= 'seamaster 300'.upcase %>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-md-6">
                    <%= image_tag("skirts.png", :alt => "rss feed") %><br><%= 'muse 32w'.upcase %>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-md-6">
                    <%= image_tag("cock.png", :alt => "rss feed") %><br><%= 'racing 300'.upcase %>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-md-6">
                    <%= image_tag("green.png", :alt => "rss feed") %><br><%= 'trial 453k'.upcase %>
                  </div>
                </div>
            <hr>
            </div>
        </div>
    </section>