 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
  <section id="watch" class="container content-section text-center">
  <%= form_tag "/men_stores", method: "GET" do %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Submit" %>
  <% end %>
<!--   <div class="watch-section">
    <div class="container">
      <div clas="row">
      <%# @men_stores.each do |men_store| %>
        <div class="col-lg-4 col-sm-6 col-md-6">
          <p>
            <%# image_tag men_store.image, :alt=>'rss feed' %><br>
            <%# men_store.item_name %>
          </p>
        </div>
        <%# end %>
      </div>
    </div>
   </div>  -->
    <div class="watch-section">
    <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 col-md-6"><%= image_tag("https://s3-us-west-2.amazonaws.com/fashion-store/constellation.png", :alt => "rss feed") %><br><%= 'seamaster 300'.upcase %></div>
      <div class="col-lg-6 col-sm-12 col-md-6"><%= image_tag("https://s3-us-west-2.amazonaws.com/fashion-store/museum.png", :alt => "rss feed") %><br><%= 'constellation'.upcase %></div>
      <div class="col-lg-6 col-sm-12 col-md-6"><%= image_tag("https://s3-us-west-2.amazonaws.com/fashion-store/seamaster.png", :alt => "rss feed") %><br><%= 'seamaster 300'.upcase %></div>
      <div class="col-lg-6 col-sm-12 col-md-6"><%= image_tag("https://s3-us-west-2.amazonaws.com/fashion-store/racing.png", :alt => "rss feed") %><br><%= 'constellation'.upcase %></div>
    </div>
</section>